.add-event-form
	background white 
	margin 40px auto
	text-align center
	.form-page
		display none
		&.visible
			display block 
		.form-page-header
			border-bottom #eee 1px solid 
			background main-color
			color white 
			padding 10px 20px
			h2
				margin 0
				padding 0 
		.form-page-content
			padding 20px
					
			.form-group
				margin-bottom 40px 
				label
					color #999
					font-size 15px 
					font-weight normal
					margin-bottom 20px 
				input.form-control
					border none
					border #e1e1e1 1px solid 
					height auto 
					font-size 24px 
					line-height 30px 
					margin 0 auto 20px auto 
					max-width 340px
					padding 12px 10px 
					outline 0 
					text-align center
				textarea
					border none
					border #e1e1e1 1px solid 
					border-radius 6px
					font-size 18px 
					margin 0 auto 20px auto 
					max-width 100% 
					padding 20px 
					outline 0
					width 600px