// View event
.banner-row
	background-color white
	color #333 
	margin-top -20px 
	padding 20px
	position relative
	a
		color #333
		
.column
	margin-top 15px
	min-height 400px 
	
.main-column
	.event-media
		margin-bottom 20px 
	p.event-description
		border-left main-color 4px solid
		font-size 18px
		padding 20px

.side-column
	ul.stats
		list-style none
		margin 0 0 20px 0
		padding 0
		li
			list-style none
			margin 0
			padding 0
			h3
				font-size 42px 
				font-weight bolder
			h5
				color #999
				font-size 16px 
	.action-button
		background-color main-color
		border none 
		color white
		font-size 16px 
		padding 12px 24px
		&:hover
			background-color darken(main-color, 10%)
			cursor pointer
		 