.profile-header
	background main-color
	height 120px 
	@media(min-width: $screen-sm-min)
		height 0px
		max-height 300px
		padding-bottom 15%

h2.user-name
	color #444
	font-size 40px 
	font-weight 300 
	margin 0
	padding 0
	
.profile-left-column
	padding 20px
	text-align center
	@media(min-width: $screen-sm-min)
		text-align left
	.avatar-wrapper
		position relative
		top -100px
		margin-bottom -80px
		text-align center
		@media(min-width: $screen-sm-min)
			top -100px
		img
			background white 
			border white 4px solid
			height 140px
			width 140px
			@media(min-width: $screen-sm-min)
				height 180px
				width 180px 
	.contact-button
		border #e1e1e1 1px solid
		color #ccc
		font-size 16px 
		margin 20px auto
		max-width 250px 
		padding 12px 20px
		text-align center
		transition(all 0.2 linear)
		&:hover
			background main-color
			border main-color 1px solid
			color white 
			cursor pointer
			
.profile-center-column
	border-right #e9e9e9 1px solid
	border-left #e9e9e9 1px solid	
	@media(min-width: $screen-sm-min)
		padding 30px
	p.user-bio
		border-left main-color 4px solid
		margin 20px 0
		padding 15px 20px
	.tab-content
		.tab-pane	
			padding 10px
			.no-content
				padding 100px 40px 
				text-align center
				h3
					color #ccc 
					font-weight normal 
					margin 0
					padding 0
			ul.news-feed
				list-style none
				margin 0
				padding 10px 0 
				li
					background #f2f2f2
					height 200px  
					list-style none
					margin 0 0 20px 0
					padding 0
		
.sidebar-section
	border-bottom #e9e9e9 1px solid 
	padding 20px 10px 
		
	.sidebar-section-header
		font-size 18px 
	.ideas-list
		color #ccc
		list-style none
		margin 10px 0 
		padding 0