.btn
	border none
	border-radius 0px
	font-size 16px
	padding 12px 28px
	transition(all 0.1s linear)
	&.btn-primary
		background-color main-color
		&:hover
			background-color darken(main-color, 10%)
	&.btn-link
		background-color transparent
		font-size 14px
	&.btn-facebook
		background-color facebook-color
		color white
		i
			margin-right 10px 
		&:hover
			background-color darken(facebook-color, 10%)