/* Import bootstrap */
@import 'bootstrap'

/* Import snippets */
@import 'snippets'

/* Import variables */
@import 'variables'

/* Import components */
@import 'components/*'

/* Import elements */
@import 'elements/*'

/* Idea styles */
@import 'ideas/*'

/* Users styles */
@import 'users/*'

body
	font-family 'Lato'
	padding-top $navbar-height
	
body.transparent
	padding-top 0

.visuallyhidden 
	display none 
	
a
	color main-color

.text-linethru
	padding 10px 
	width 100% 
	.line
		background-color #ddd
		height 1px 
		width 100% 
	.text
		background white 
		color #bbb 
		display inline-block
		font-size 16px 
		height 20px
		line-height 15px  
		padding 0 10px 
		position relative
		top -10px

.hero-container
	background-color rgba(50,10,10,1)
	// background-image url('https://static.pexels.com/photos/5888/garden-sitting-grass-shoes.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat
	padding 170px 20px 150px 20px
	position relative
	margin-top -20px
	.text-container
		position relative
		z-index 1
	.black-overlay
		background-color rgba(30,0,0,0.4)
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		z-index 0 
	
.text-container
	text-align center
	h1
		color white 
		font-weight 300 
		margin-bottom 30px 
	button
		background transparent
		border white 2px solid
		border-radius 0px
		color white
		font-size 20px 
		font-weight 300 
		margin 0 auto
		outline 0
		padding 8px 26px
		text-align center
		&:hover
			background-color main-color
			border-color main-color

.panel-heading
	h2
		margin 40px 0 10px 0
	
body.colorful
	background-color main-color
	.page-header
		border none
		h2
			color white

.auth-panel
	background-color white
	border-radius 6px
	margin 0 auto
	max-width 460px
	min-width 320px
	padding 40px 60px 10px 60px 
	text-align center
	@media(max-width: 460px)
		border-radius 0px
		padding 40px 30px 10px 30px 
	.auth-form
		position relative
		left auto
		right auto
		top auto
		bottom auto
		.form-group
			margin-bottom 20px !important 
			.control-label
				color #888
				margin-bottom 10px 
			.form-control
				border #e1e1e1 1px solid
				border-radius 4px
				box-shadow none
				height auto 
				font-size 18px
				margin 0 auto 20px auto
				max-width 400px 
				padding 15px
				text-align center
				width 100%
		.forgot-link, .login-link
			color #999
			margin 10px 10px 0 10px 
			text-decoration underline 