// Navbar
nav
	position absolute
	top 0
	width 100% 
	z-index 999
.navbar
	background-color white
	border none
	border-radius 0px
	height $navbar-height
	position fixed
	&:after
		background-color main-color
		content ""
		height 4px
		margin 0 auto
		opacity 1
		width 100%
		transition(all 0.4s linear)
	transition(all 0.2s linear)
	a.navbar-brand
		color #444 
		font-size 24px 
		font-weight 300
		height $navbar-height
		line-height $navbar-height
		padding 0 20px
		transition(color 0.2s linear)
		&:hover
			color main-color
		strong
			font-weight 400 
	.navbar-nav > li
		z-index 999 
	.navbar-nav > li > a
		color #666
		font-size 14px 
		font-weight 500
		line-height $navbar-height
		padding 0 20px
		transition(color 0.2s linear)
		&:hover
			background transparent 
			color main-color

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
	background-color transparent
.dropdown-menu
	border none 
	top auto
	margin 0
	overflow hidden
	padding 0
	li
		a
			padding 15px 20px
.navbar-toggle
	border none 
	height 40px 
	margin (($navbar-height - 40) / 2)
	.icon-bar
		background-color white
	&:hover
		.icon-bar
			background-color main-color

// Transparent fade nav

body.fade-nav
	&.colorful
		.navbar
			background-color white
	.navbar-transparent
		background-color transparent
		&:after
			opacity 0 
			width 0px
		a.navbar-brand
			color white
			line-height $navbar-height
			padding 0 20px
		.navbar-nav li a
			color white
			line-height $navbar-height
			transition(color 0.2s linear)
			&:hover
				background transparent 
				color main-color
				
@media(max-width: $screen-sm-min) 
	.navbar-collapse
		background-color white
		.navbar-nav li a
			color #666 !important